extends layout

block content
    h1= title

    ul
        each val in status_list
            li
                a(href=val.url) table №#{val.table.numberTable} -
                if val.status==='Free'
                    span.text-success #{val.status}
                else if val.status==='Busy after lunch'
                    span.text-danger #{val.status}
                else
                    span.text-warning #{val.status}
                span  (#{val.date_start_formatted})

        else
            li There are no free tables.